h1{
    color:green;
}

h2{
    color: grey;
}

body{
    background-color:#f4f4f4;
    color: blue;
    font-family: arial, helvetica, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0;


}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    color: red;

}

a:active{
    color: green;
}

.container{
    width: 80%;
    margin:auto
}


.box-1{
    
    background-color: grey;
    color: white;

    border: 5px red solid;

    padding: 5%;

    margin: 10%;
}

.box-2{
    border: 3px dotted black;
    padding: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font font-weight: 800;

}

.categories{
    border: 1px #ccc solid;
    padding: 10%;
    border-radius: 15%;
    color: black;

}
.categories h2{
    text-align: center;
}

.categories ul{
    border: #ccc solid;
    color: black;
    list-style: none;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px green;
    list-style-image: url('../images/check.png');

}

.my-form{
    padding: 20px;
}

.form